src/test/resources/XmlSortTest.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sup="http://support.diasoft.ru" xmlns:tns="http://ftfincorews.diasoft.com" targetNamespace="http://ftfincorews.diasoft.com" name="FTFINCOREWS">
    <types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://support.diasoft.ru" targetNamespace="http://support.diasoft.ru" elementFormDefault="qualified">
            <complexType name="ContextData">
                <sequence>
                    <element type="xsd:string" name="fromSystem" minOccurs="0" maxOccurs="1" />
                    <element type="xsd:string" name="toSystem" minOccurs="0" maxOccurs="1" />
                    <element type="xsd:string" name="sessionId" minOccurs="0" maxOccurs="1" />
                    <element type="xsd:long" name="processId" minOccurs="0" maxOccurs="1" />
                    <element type="xsd:language" name="locale" minOccurs="0" maxOccurs="1" />
                </sequence>
            </complexType>
            <element type="tns:ContextData" name="ContextData" />
            <complexType name="OperationFault">
                <sequence>
                    <element type="xsd:string" name="faultCode" minOccurs="1" maxOccurs="1" />
                    <element type="xsd:string" name="faultMessage" minOccurs="1" maxOccurs="1" />
                </sequence>
            </complexType>
            <element type="tns:OperationFault" name="OperationFault" />
            <complexType name="DSCALLFAULT">
                <sequence>
                    <element type="xsd:int" name="faultcode" minOccurs="1" maxOccurs="1" />
                    <element type="xsd:string" name="faultmessage" minOccurs="1" maxOccurs="1" />
                </sequence>
            </complexType>
            <element type="tns:DSCALLFAULT" name="DSCALLFAULT" />
        </xsd:schema>
    </types>
    <message name="DsOnBeforeOfferedRateDeleteRes">
        <part name="response" element="tns:DsOnBeforeOfferedRateDeleteRes"/>
    </message>
    <message name="DsOnAfterOfferedRateMassInsertQuoteReq">
        <part name="request" element="tns:DsOnAfterOfferedRateMassInsertQuoteReq"/>
    </message>
    <message name="fault">
        <part name="fault" element="sup:OperationFault"/>
    </message>
    <message name="DSCALLFAULT">
        <part name="DSCALLFAULT" element="sup:DSCALLFAULT"/>
    </message>
    <message name="DSCALL">
        <part name="request" element="sup:DSCALL"/>
    </message>
    <message name="DSCALLRESPONSE">
        <part name="commandresult" element="sup:DSCALLRESPONSE"/>
    </message>
    <portType name="FTFINCOREWSPORTTYPE">
        <operation name="DSCALL">
            <input message="tns:DSCALL" />
            <output message="tns:DSCALLRESPONSE" />
            <fault name="DSCALLFAULT" message="tns:DSCALLFAULT" />
        </operation>
        <operation name="DSCALLASYNC">
            <input message="tns:DSCALLASYNC" />
        </operation>
        <operation name="admModuleInfo">
            <input message="tns:Admmoduleinfo" />
            <output message="tns:AdmmoduleinfoRes" />
            <fault name="fault" message="tns:fault" />
        </operation>
        <operation name="getversion">
            <input message="tns:GetVersion" />
            <output message="tns:GetVersionRes" />
            <fault name="fault" message="tns:fault" />
        </operation>
        <operation name="getHealthInfo">
            <input message="tns:GetHealthInfo" />
            <output message="tns:GetHealthInfoRes" />
            <fault name="fault" message="tns:fault" />
        </operation>
    </portType>
    <binding type="tns:FTFINCOREWSPORTTYPE" name="FTFINCOREWSBINDING">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="DSCALL">
            <soap:operation soapAction="http://support.diasoft.ru/DSCALL" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="DSCALLFAULT">
                <soap:fault use="literal" name="DSCALLFAULT" />
            </fault>
        </operation>
        <operation name="DSCALLASYNC">
            <soap:operation soapAction="http://support.diasoft.ru/DSCALLASYNC" />
            <input>
                <soap:body use="literal" />
            </input>
        </operation>
        <operation name="admModuleInfo">
            <soap:operation soapAction="http://support.diasoft.ru/admModuleInfo" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault use="literal" name="fault" />
            </fault>
        </operation>
    </binding>
    <service name="FTFINCOREWSSERVICE">
        <port binding="tns:FTFINCOREWSBINDING" name="FTFINCOREWSPORT">
            <soap:address location="FTFINCOREWS" />
        </port>
    </service>
</definitions>